<div class="container">
  <h6 style="text-align: center">{{winnerMsg}}</h6>

  <page-title value="Where do you wanna eat today?"></page-title>

  <div class="row" ng-repeat="restaurant in restaurants">
    <button-primary action="vote(restaurant)" active="restaurant.winner || restaurant.alreadyVotedByUser" value="{{restaurant.name}} - Votes: {{restaurant.score}}"></button-primary>
    <small ng-show="restaurant.winner">{{restaurant.name}} already won this week ;)<br></small>
    <small ng-show="restaurant.alreadyVotedByUser">You've already voted on {{restaurant.name}} ;)<br></small>
    <br>
  </div>

  <a href="/identification">Switch uer</a>

</div>